# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Michael G. Schwern <schwern@pobox.com> Michael G Schwern <schwern@pobox.com>
Chris 'BinGOs' Williams <chris@bingosnet.co.uk> Chris Williams <chris@bingosnet.co.uk>
Ed J <mohawk2@users.noreply.github.com> mohawk2 <mohawk2@users.noreply.github.com>
Matt S Trout <mst@shadowcat.co.uk> <matthewt@hercule.scsys.co.uk>
Roy Ivy III <rivy@cpan.org> <rivy.dev@gmail.com>
Dan Book <grinnz@grinnz.com> <grinnz@gmail.com>
Reini Urban <rurban@cpanel.net> <rurban@x-ray.at>
Gabor Szabo <gabor@szabgab.com> <szabgab@gmail.com>
Jens Rehsack <rehsack@cpan.org> <sno@netbsd.org>
Yves Orton <demerphq@gmail.com> <yves.orton@booking.com>
Felipe Gasper <felipe@felipegasper.com> <FGasper@users.noreply.github.com>
Håkon Hægland <hakon.hagland@gmail.com> <hakonhaegland@Hakons-Air-2.home>
Sisyphus <sisyphus@cpan.org> <sisyphus1@optusnet.com.au>
Steve Hay <shay@cpan.org> <SteveHay@planit.com>
magnolia <magnolia.k@me.com> <magnolia.k@icloud.com>
